<div class="container">
	<div class="row">
			<img src="warren_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: Can you tell me more about your siblings?
		<br/><br/>
		Warren: Jane has been a strange one, I heard once, that she and father were screaming at each other then Jane left the room all quiet. Strange and very suspicious. She never yells at people, especially father.	
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="robert.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Robert", "/page155"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="hank.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Hank", "/page156"  %></button>
		</div>
	</div>
</div>