<div class="container">
	<div class="row">
			<img src="scott_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		Scott: You think my father never loved me? Well, i never wanted his love. Just his position in the company. if anyone had his love, it would be the dramatic warren who seeks his love and his attention.
		<br/><br/>
		Scott becomes aggressive  and defensive, so you back off and decide to go ask Warren.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="warren.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Warren", "/page162"  %></button>
		</div>
	</div>
</div>