<p>a man need not cry to show his grief. quite poetic dont you think? an artist shows his emotions in different mediums wheather through a brush or a pen. not everybody would understand that. esp hank.
<p/>
<button type="button" class="btn btn-link"><%= link_to "Talk to Hank", "/page078"  %></button>