<p>he sponsored my research. ask about research. its classified.
<p/>
<button type="button" class="btn btn-link"><%= link_to "Pry into his research", "/page024"  %></button>
<button type="button" class="btn btn-link"><%= link_to "Talk about Charles being a nice and loving father", "/page025"  %></button>