<p>i have and always will admire him, but now i can never surpass him. he was never happy with what i did for him. not like jane.
<p/>
<button type="button" class="btn btn-link"><%= link_to "Talk to Jane", "/page030"  %></button>