<div class="container">
	<div class="row">
			<img src="hank_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You decide to pry into the research.
		<br/><br/>
		You: Is you research really something worth hiding? C'mon I just want to know what it is.
		<br/><br/>
		Hank: If you must know, you'll just have to wait until I have fulfilled my research. Leave me alone. Just talk to Robert instead.
		<br/><br/>
		Hank's expression is annoyed, since he suggested you to go to Robert, you go to him instead.
		<br/><br/>
	</div>

	<div class="row">
		<div class="well">
			<img src="robert.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Robert", "/page141"  %></button>
		</div>
	</div>
</div>