<div class="container">
	<div class="row">
			<img src="hank_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: Can you tell me more about any of your siblings?
		<br/><br/>
		Hank: Well looking at Warren, though he says that he is successful about his art. I haven't heard news about his art from the locals nor from art enthusiasts around the world. That, and I see small tears in his clothing.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="scott.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Scott", "/page136"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="jane.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Jane", "/page137"  %></button>
		</div>		
	</div>
</div>