<div class="container">
	<div class="row">
			<img src="jane_03.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: May I ask if you noticed something about Warren?
		<br/><br/>
		Jane: Recently, I have seen Warren, acting to himself out like someone from a movie or rather he's being dramatic as usual, he tends to glare at others when they are looking. Though he looked more like the villainthan the hero.
		<br/><br/>
	</div>

	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page189"  %></button>
		</div>
	</div>
</div>