<div class="container">
	<div class="row">
			<img src="warren_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		Warren: Father has always supported my art career and through him, I have become quite known in several places.
		<br/><br/>
		Warren sounds very enthusiastic to talk about his art and how Charles helped him to accomplish his success, but you were curious about if Charles supported all his children like Warren. So you asked...
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="talk.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "So he supports you all?", "/page020"  %></button>
		</div>
	</div>
</div>