<p>actually, quite the contrary. i worked with him in a couple of projects when i was younger. he taught me a lot and supported me as i grew. now that he has gotten older he may have stepped out of the lab, but he still supports me through his funding.
<p/>
<button type="button" class="btn btn-link"><%= link_to "Ask about the money", "/page026"  %></button>