<p>Robert: describe physically and how he carries himself + short dialogue of what thr character will say when you approach him	
<p/>
<button type="button" class="btn btn-link"><%= link_to "What was your father to you?", "/page035"  %></button>
<button type="button" class="btn btn-link"><%= link_to "Notice a smirk. Ask.", "/page036"  %></button>