<div class="container">
	<div class="row">
			<img src="scott_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: So, can you tell me a bit of Jane?
		<br/><br/>
		Scott: Jane is a very unexpected girl. She acts all pure and innocent but she lets out herself sometimes and she forgets what she backlashed. That girl is very strange.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Continue the story", "/page190"  %></button>
		</div>
	</div>
</div>