<div class="container">
	<div class="row">
			<img src="robert_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		"You: Robert, I was wondering if you noticed anything suspicious about wWrren?
		<br/><br/>
		Robert: Warren is really touchy about his art, yet his clothing may seem a little...tattered. It's hard to see, though he always talks about how luxurious his art has brought him to now. Prissy prick...."	
		<br/><br/>
	</div>

	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page189"  %></button>
		</div>
	</div>
</div><p>
</p>