<div class="container">
	<div class="row">
			<img src="scott_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You decide to talk to Scott about what just happened. As you approach him, you noticed in his face that he was shocked and he was mourning out but for a moment. As soon as you approach him, his face transitioned into a serious expression.
		<br/><br/>
		You: -
		<br/><br/>
		Scott: I have nothing to say to you. So don't waste your time trying to talk to me.
		<br/><br/>
		You: Huh?
		<br/><br/>
		You barely spoke a word before Scott shut you out. Surprised at how he reacted to you, you were left speechless.
		<br/><br/>
		Scott: I know how people like you work. Well, you won't get me to say anything that would incriminate myself.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="talk.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "So what was your father to you?", "/page075"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="talk.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "What makes you think you're a suspect?", "/page076"  %></button>
		</div>		
	</div>
</div>