<p>He was a very caring father, and I cherished every moment of his love, he not only cared for me but also my brothers when mom passed away.
<p/>
<p>She bursts into tears once more as you try to find the right words to say.
<p>You: There there, your father is indeed a loving man and I swear I will find the one who murdered him and he will face justice.
<p/>
<button type="button" class="btn btn-link"><%= link_to "Comfort her", "/page081"  %></button>
<button type="button" class="btn btn-link"><%= link_to "So, how are your siblings holding up?", "/page082"  %></button>