<p>you try to comfort her by touching her shoulder and she suddenly slaps your hand off. you see an aggressive face for a sec then suddenly returns to her normal sobbing self. sorry, i dont know what came over me
<p/>
<button type="button" class="btn btn-link"><%= link_to "Continue talking to Jane", "/page039"  %></button>