<div class="container">
	<div class="row">
			<img src="robert_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: Robert, I was wondering if you noticed anything suspicious with your siblings?
		<br/><br/>
		Robert: Though Scott is really obsessed with father, he seems to be really opposite of mourning, rather he looked like he accomplished something....hmmm.
		You: Hmm indeed... Thank you
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page188"  %></button>
		</div>
	</div>
</div>