<div class="container">
	<div class="row">
			<img src="robert_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		"You: Robert, I was wondering if you noticed anything suspicious with your siblings?
		<br/><br/>
		Robert: Warren is really touchy about his art, yet his clothing may seem a little...tattered. It's hard to see, though he always talks about how luxurious his art has brought him to now. Prissy prick...."	
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="scott.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Scott", "/page175"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="jane.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Jane", "/page176"  %></button>
		</div>
	</div>
</div><p>
<p/>

