<p>hank:describe physically and how he carries himself + short dialogue of what thr character will say when you approach him	
<p/>
<button type="button" class="btn btn-link"><%= link_to "So what was your father to you?", "/page032"  %></button>
<button type="button" class="btn btn-link"><%= link_to "You don't seem fazed by your father's death", "/page033"  %></button>