<div class="container">
	<div class="row">
			<img src="robert_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You decided to approach Robert, the youngest of the family. As you got closer to him, you noticed a slight grin in his face and a faint snicker. 
		<br/><br/>
		You: Uh Robert...
		<br/><br/>
		As you were about to ask Robert a question, he turned his head and had an annoyed expression, he then asked..
		<br/><br/>
		Robert: Yeah?
		<br/><br/>
		You: I want to know...
		<br/><br/>
		You wanted to ask Robert about two things, his relationship with his dad, and you noticed a smirk.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="talk.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "What was your father like to you?", "/page051"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="talk.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Notice a smirk. Ask.", "/page052"  %></button>
		</div>		
	</div>
</div>