<div class="container">
	<div class="row">
			<img src="robert_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: Robert, you're the killer.
		<br/><br/>
		Robert: Ehhh? What makes you so sure?
		<br/><br/>
		You: Other than you dislike your father, you are hated by most of your family and you feel the same way to them.
		<br/><br/>
		Robert: And so, that doesn't mean I would kill them..
		<br/><br/>
		You: Yes you do, you are very insecure about what you do, you killed your father who controls you but actually you are letting yourself be controlled.
		<br/><br/>
		Robert:I just wanted to do things my way but father kept on holding me back, I'm glad he's dead I would have killed anyone who gets in my way!!
		<br/><br/>
		You deduced that Robert is the killer, as he rushes forward to attack you, you pin him down and arrest him. As you bring Robert to the car, he looks disgustingly at his four siblings. The car leaves and the mystery of the death of your friend is solved but you wonder about the other 4 since they have troubled pasts and personalities too. 
		<br/><br/>
	</div>
	
</div>