<div class="container">
	<div class="row">
			<img src="warren_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: Can you tell me more about your siblings?
		<br/><br/>
		Warren: Scott, just wants to be like father? On the outside yes, but I have seen how Scott obsess over father's accomplishments and his face seems like he has a devious plan to not only be father but to surpass. But hey, I am just interpreting his expressions when he mumbles to himself when I visit him in his office. 
		<br/><br/>
		You: Very interesting....."
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="hank.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Hank", "/page167"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="jane.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Jane", "/page168"  %></button>
		</div>
	</div>
</div>