<div class="container">
	<div class="row">
			<img src="scott_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		Scott: I have and always will admire him, but no matter what I did, he always treated me like a bisuness partner - always so strict and serious with me. I never experienced, not even once, his fatherly affection, nor did he nurture me in anyway like Hank who he practically raised in the lab with him.
		<br/><br/>
		You get the feeling that Scott isn't just idolizing but rather something more than that, you consider Scott's behavior but you decided to talk to Hank.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="hank.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Hank", "/page0134"  %></button>
		</div>
	</div>
</div>