<div class="container">
	<div class="row">
			<img src="scott_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		"You: What are your thoughts about Warren?
		<br/><br/>
		Scott: He's a dramatic person. He is over-reacts towards the slightest problem. But what irritates me more is how he asks from each of us to sponsor his art and we are not even invited to his gallery shows."
		<br/><br/>
	</div>

	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page189"  %></button>
		</div>
	</div>
</div>