<div class="container">
	<div class="row">
			<img src="jane_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		Jane: He was a very caring father, and I cherished every moment of his love, he not only cared for me but also for my brothers when out mother passed away.
		<br/><br/>
		Jane talks about how nice her father was to his family. You wanted to know how was Charles toward Jane especially or how Jane would be a suspect, but she continued crying. So you decided..
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="jane.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Comfort her", "/page092"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="talk.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "How are your siblings holding up?", "/page093"  %></button>
		</div>
	</div>
</div>