<div class="container">
	<div class="row">
			<img src="scott_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		Scott: How can I, the split image of my father and his protoge be the one that murdered a wonderful and great figure of example of excellence. If any one would be a suspect, it should be Hank, not too recently father and Hank had an argument. 
		<br/><br/>
		Hearing about Hank having an argument with Charles made you decide to talk to Hank about Charles.
	</div>
	
	<div class="row">
		<div class="well">
			<img src="hank.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Hank", "/page087"  %></button>
		</div>
	</div>
</div>