<div class="container">
	<div class="row">
			<img src="robert_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		"You: Robert, I was wondering if you noticed anything suspicious with your siblings?
		<br/><br/>
		Robert: Jane, as innocent as she is, seems to been jittery as often. And at times, when I get annoyed she suddenly talked back to me...that little bi..."
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="hank.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Hank", "/page111"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="warren.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Warren", "/page112"  %></button>
		</div>		
	</div>
</div>