<p>He was a very caring father, and I cherished every moment of his love, he not only cared for  me but also my brothers when mom passed away
<p/>
<p>There there, your father is indeed a loving man and I swear I will find the one who murdered him and he will face justice.	
<p/>
<button type="button" class="btn btn-link"><%= link_to "Comfort her", "/page092"  %></button>
<button type="button" class="btn btn-link"><%= link_to "How are your siblings holding up?", "/page093"  %></button>