<div class="container">
	<div class="row">
			<img src="hank_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: So, can you tell me a bit about Jane?
		<br/><br/>
		Hank: Jane? that daddy's girl, cry baby? She's gets what she wants without asking. But she always puts herself to make people pity her. I say she is hiding something with her condition.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page190"  %></button>
		</div>
	</div>
</div>