<div class="container">
	<div class="row">
			<img src="family.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You call in everyone to gather in the lobby. You announce that you know who the killer is.
		<br/><br/>
		Scott: Really?
		<br/><br/>
		Warren: Who is this man who have done a terrible deed?
		<br/><br/>
		Jane: So you know who did it?!
		<br/><br/>
		Hank: Is your deduction correct?
		<br/><br/>
		Robert: So who did it?
		<br/><br/>
		You take a moment to look back and you say who the killer is.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page194"  %></button>
		</div>
	</div>
</div>