<div class="container">
	<div class="row">
			<img src="jane_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: Jane, you're the killer.
		<br/><br/>
		Jane: Why me? I loved my father very much, how can you accuse me I am innocent. 
		<br/><br/>
		You: You love your father, but there is something deep inside you that says otherwise, this is due to all those drugs that you have been taking.
		<br/><br/>
		Jean: *Tsk* So you seem to like to suspect the pretty little girls. And so what if I or anyone else killed him, he deserved it because he was a terrible old man.
		<br/><br/>
		You: You not only killed him because he was terrible, you killed him because he caused you to mentally break down into taking anti-depressants.
		<br/><br/>
		Jane: That's true, that old  man only saw me as a spitting image of my mother, and he took it the wrong way. I was violated yet I liked it, the only way I could kept sane was the drugs, but that didn't go well.....hahaha
		<br/><br/>
		You deduced that Jane is the killer, as she laughs you cuff her hands and arrest him. As you bring Jane to the car, she looks innocently but the next moment grinned at his four siblings. The car leaves and the mystery of the death of your friend is solved but you wonder about the other 4 since they have troubled pasts and personalities too. 
		<br/><br/>
	</div>
	
</div>