<div class="container">
	<div class="row">
			<img src="hank_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		"You: Can you tell me more about Scott, does he really want to be like Charles?
		<br/><br/>
		Hank: Analyzing the actions of my brother, he is mimicking the hobbies and efforts that my father does and enjoy, as if he is father himself. But I did notice a critical detail of my brother, mimicking father has gone to his head that he brags his accomplishments as his own hardwork resulting in an ego, he sees himself as prodigy rather than protege as he tells some people.
		<br/><br/>
		You: I never thought of that. "	
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page188"  %></button>
		</div>
	</div>
</div>