<div class="container">
	<div class="row">
			<img src="jane_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You try to comfort her by touching her shoulder and she suddenly slaps your hand off. You see an aggressive face for a second then suddenly she returns to her normal sobbing self.
		<br/><br/>
		Jane: Sorry, I don't know what came over me.
		<br/><br/>
		You decided you needed to ask Jane something about why she did that, so you decided to continue talking to her.
		<br/><br/>
	</div>

	<div class="row">
		<div class="well">
			<img src="jane.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Continue talking to Jane", "/page080"  %></button>
		</div>
	</div>
</div>