<div class="container">
	<div class="row">
			<img src="hank_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		Hank: actually, quite the contrary. I worked with him in a couple of projects when I was younger. He taught me a lot and supported me as I grew. Now that he has gotten older he may have stepped out of the lab, but he still supports me through his funding.
		<br/><br/>
		You were curious about the projects that Hank was working with Charles, but you wanted to ask more about the funding. So you asked Hank...
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="talk.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Ask about the money", "/page047"  %></button>
		</div>
	</div>
</div>