<div class="container">
	<div class="row">
			<img src="warren_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		"You: Can you tell me more about Scott, does he really want to be like Charles?
		<br/><br/>
		Warren: Scott, just like father? On the outside yes, but I have seen how Scott obsess over father's accomplishments and his face seems like he has a devious plan to not only be father but to surpass. But hey, I am just interpreting his expressions when he mumbles to himself when I visit him in his office. 
		<br/><br/>
		You: Very interesting..... "	
		<br/><br/>
	</div>

	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page188"  %></button>
		</div>
	</div>
</div>