<div class="container">
	<div class="row">
			<img src="robert_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		Robert: I'm glad the old man died. He never agreed with my career choices unlike Scott. He was practically gonna give Scott his company.
		<br/><br/>	
		Robert is okay that Charles was dead, as curious as this sound, you thought of talking to Scott.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="scott.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Scott", "/page046"  %></button>
		</div>
	</div>
</div>