<div class="container">
	<div class="row">
			<img src="warren_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: Can you tell me more about Hank?
		<br/><br/>
		Warren: Hank, that fowl man? He was very serious about his research, though he never talks about it with hi siblings. he only talked about it with dad since father was always funding his research. "
		<br/><br/>
	</div>

	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page191"  %></button>
		</div>
	</div>
</div><p>"
</p>