<div class="container">
	<div class="row">
			<img src="scott_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		Scott: How can I, the spitting image of my father and his protege be the one that murdered a wonderful and great figure of example of excellence. If any one would be a suspect, it should be Robert, not too recently father and Robert had an argument.
		<br/><br/>
		Scott was aggressive when he said this, you back up a bit. Once he pointed at Robert you decided to approach Robert
		<br/><br/>
	</div>

	<div class="row">
		<div class="well">
			<img src="robert.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Robert", "/page150"  %></button>
		</div>
	</div>
</div><p>b: 
</p>
