<div class="container">
	<div class="row">
			<img src="scott_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: So, can you tell me a bit about Warren?
		<br/><br/>
		Hank: Warren, though he is dedicated about his art, he hardly invites us to his galleries. It's strange that he would say that it was always in a far place or that the date was too soon for us to make plans. "	
		<br/><br/>
	</div>

	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page189"  %></button>
		</div>
	</div>
</div><p>"
</p>