<div class="container">
	<div class="row">
			<img src="hank_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: So your true concern is the money.
		<br/><br/>
		Hank: The money? Don't talk to me about financial concerns. I'm not worried about that. If you wanna know who's worried about money, you should talk to Warren.
		<br/><br/>
		Hank smirks and points to Warren after you mentioned about wanting the money, you decided to approach Warren.
		<br/><br/>
	</div>

	<div class="row">
		<div class="well">
			<img src="warren.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Warren", "/page143"  %></button>
		</div>
	</div>
</div>