<p>it's fine, you're probably just exhausted from the sudden turn of events. maybe you should lie down. perhaps i am tired. im sorry, maybe you should go talk to robert instead. he seems quiet. maybe he saw something
<p/>
<button type="button" class="btn btn-link"><%= link_to "Talk to Robert", "/page088"  %></button>