<div class="container">
	<div class="row">
			<img src="hank_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: So i'm guessing your father has been kind towards you?
		<br/><br/>
		Hank: Nice? He was never nice to me. If ever, he was only nice to Jane.
		<br/><br/>
		You ask him about Charles' kindness, but Hanks acts like your question was a joke, you decided to talk to Jane.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="jane.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Jane", "/page070"  %></button>
		</div>
	</div>
</div>