<p>its fine, youre probably exhausted from the turn of events. maybe you should lie down. perhaps i am tired. im sorry, maybe you should go talk to scott instead. he might know something. (jane agrees and goes to her room)	
<p/>
<button type="button" class="btn btn-link"><%= link_to "Talk to Scott", "/page059"  %></button>