<div class="container">
	<div class="row">
			<img src="hank_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: May I ask if you noticed something from your brothers?
		<br/><br/>
		Hank: In the past few days, I haven't seen Scott talk to father about business. Usually when I see them, Scott is always glued to father wanting to talk about a potential deal or business. I don't know, it's not usual for him to avoid father."
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="warren.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Warren", "/page159"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="jane.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Jane", "/page160"  %></button>
		</div>
	</div>
</div><p>"
</p>

