<div class="container">
	<div class="row">
			<img src="hank_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: Hank, can you describe Warren to me?
		<br/><br/>
		Hank: Warren is an annoyance. Pardon but due to his rash actions, it disturbs me. He cares about his art yet he never shows it or tells us his events. And he seems to be making loans from a lot of people"
		<br/><br/>
	</div>

	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page189"  %></button>
		</div>
	</div>
</div>