<div class="container">
	<div class="row">
			<img src="hank_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		"You: Can you tell me more about Warren?
		<br/><br/>
		Hank: Well looking at Warren, though he says that he is successful about his art. I haven't heard news about his art from the locals nor from art enthusiasts around the world. That and i see small tears in his clothing."
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page189"  %></button>
		</div>
	</div>
</div>