<p>he sponsored my research. ask about research. its classified.	
<p/>
<button type="button" class="btn btn-link"><%= link_to "Pry into research", "/page054"  %></button>
<button type="button" class="btn btn-link"><%= link_to "Talk about Charles being nice to him", "/page053"  %></button>