<div class="container">
	<div class="row">
			<img src="hank_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You decided to approach Hank. He seemed like he was the most logical person to speak with. He was staring at the lifeless body of Charles. He seemed like he was analyzing him but all he did was just stare.
		<br/><br/>
		You: Excuse me Hank, I would like to ask you...
		<br/><br/>
		As you were about to ask Hank a question, he glared at you and said sternly..
		<br/><br/>
		Hank: That's professor Hank to you...
		<br/><br/>
		You: Okay, professor, I need to ask you something?
		<br/><br/>
		In your mind, you wanted to ask hank about what he thinks his relationship with his father, but also in you mind you wanted to know about how he looks like nothing happened at all.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="talk.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "What was your relationship with Charles?", "/page037"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="talk.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "You don't seem fazed by your father's death.", "/page038"  %></button>
		</div>		
	</div>
</div>