<p>you think my father never loved me? well, i never wanted his love just his position in the company. if anyone had his love, it would be robert.
<p/>
<button type="button" class="btn btn-link"><%= link_to "So what is he to you now that he's gone?", "/page017"  %></button>
<button type="button" class="btn btn-link"><%= link_to "You really admire him. But what were you to him?", "/page018"  %></button>