<div class="container">
	<div class="row">
			<img src="hank_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: What was your research?
		<br/><br/>
		Hank: I'm sorry, that's classified.
		<br/><br/>
		You want to know about what Hank does in his research, you wish to pry but your have an alternative question of asking how Charles is a loving father. 
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="talk.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Pry into research", "/page053"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="talk.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk about Charles being nice to him", "/page054"  %></button>
		</div>		
	</div>
</div>