<div class="container">
	<div class="row">
			<img src="jane_03.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: Have you noticed anything suspicious about your siblings?
		<br/><br/>
		Jane: Hank has been getting quite excited about this day, he usually so calm but he seems like he's going to burst into laughter, which how i see it is unusual for his behavior.
		<br/><br/>
	</div>

	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page191"  %></button>
		</div>
	</div>
</div>