<div class="container">
	<div class="row">
			<img src="hank_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		"You: So, can you tell me a bit of your siblings?
		<br/><br/>
		Hank: Jane is a bit of a curious one, she is seems to be soft and tame as a puppy but she seems to have sudden change of behavior, she must have been overdosing those medicines that her doctor prescribed. Who knows...
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="warren.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Warren", "/page098"  %>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="robert.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Robert", "/page109"  %></button>
		</div>		
	</div>
</div><p>	
<p/>

