<p>You decided to approach Hank. You seemed like he was the most logical person to speak with. He was staring at the lifeless body of Charles. He seemed like he was analyzing him but all he did was just stare.
<p/>
<button type="button" class="btn btn-link"><%= link_to "So what was your father to you?", "/page008"  %></button>
<button type="button" class="btn btn-link"><%= link_to "What makes you think you're a suspect?", "/page009"  %></button>