<p>im glad the old man died. he never agreed with my career choices unlike scott. he was practically gonna give scottnhis company
<p/>
<button type="button" class="btn btn-link"><%= link_to "Talk to Scott", "/page079"  %></button>