<div class="container">
	<div class="row">
			<img src="warren_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		"You: Can you tell me more about Robert?
		<br/><br/>
		Warren: That silly little jester is the black sheep of the family, though father seems to help him everytime he messes up. But in the end he would argue with father how he believes that father is supportive towards him. "	
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page192"  %></button>
		</div>
	</div>
</div>