<div class="container">
	<div class="row">
			<img src="jane_03.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: May I ask if you noticed something from Scott?
		<br/><br/>
		Jane: In the past few days, I haven't seen Scott talk to father about business. Usually when I see them, Scott is always glued to father wanting to talk about a potential deal or business. I don't know, it's not usual for him to avoid father.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page188"  %></button>
		</div>
	</div>
</div>