<p>so your true concern is the money... money? dont talk to me about financial concerns. im not worried about that. if you wanna know whos worried aboutmoney, you should talk to warren
<p/>
<button type="button" class="btn btn-link"><%= link_to "Talk to Warren", "/page043"  %></button>