<div class="container">
	<div class="row">
			<img src="warren_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		Warren: A man need not cry to show his grief. Quite poetic don't you think?
		<br/><br/>
		You: Indeed it is.
		<br/><br/>
		Warren: An artist shows his emotions in different mediums whether through a brush or a pen. Not everybody would understand that. Especially Scott.
		<br/><br/>
		Warren monologues and you just listen as he speaks, as you heard him point at Scott, so you decide to talk to him.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="scott.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Scott", "/page078"  %></button>
		</div>
	</div>
</div>