<p>you think my father never loved me? i never wanted his love just his position in the company. if anyone had his love, it would be robert.	
<p/>
<button type="button" class="btn btn-link"><%= link_to "Talk to Robert", "/page099"  %></button>