<div class="container">
	<div class="row">
			<img src="robert_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		Robert: Father? I don't count him as my father. I never wanted to be a part of his family.
		<br/><br/>
		You: Oh really? Why is that?
		<br/><br/>
		Robert: Father loved everyone but me because they all became successful. Especially Hank in his research and Scott as Charles' successor in the company.
		<br/><br/>
		Robert seemed like he despised his father , but he also looked like he despises his brothers who were successful, so you thought of talking to either Hank or Scott since you thought of them as the most successful.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="scott.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Scott", "/page073"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="hank.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Hank", "/page074"  %></button>
		</div>		
	</div>
</div>
