<p>"You decided to approach Jane. She was down on her knees and you see her sobbing and tears have covered her face."
<p/>
<button type="button" class="btn btn-link"><%= link_to "What was Charles to you?", "/page048"  %></button>
<button type="button" class="btn btn-link"><%= link_to "You seem to be the most affected by your father's death.", "/page048"  %></button>

