<div class="container">
	<div class="row">
			<img src="hank_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		Robert: Father? I don't count him as my father. I never wanted to be a part of his family.
		<br/><br/>
		You: Oh really? Why is that?
		<br/><br/>
		Robert: Father loved everyone but me because they were either loved or became successful. Especially Warren in his art career and Jane as his favorite.
		<br/><br/>
		Robert seemed like he despised his father , but he also looked like he despises his brother and sister who were successful, so you thought of talking to either Warren or Jane since you thought of them as the most successful and clasest to Charles.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="warren.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk toWarren", "/page083"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="jane.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Jane", "/page084"  %></button>
		</div>
	</div>
</div>