<div class="container">
	<div class="row">
			<img src="scott_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: So, can you tell me a bit of your siblings?
		<br/><br/>
		Scott: Jane is a very unexpected girl. She acts all pure and innocent but she lets out herself sometimes and she forgets what she backlashed. That girl is very strange.
		<br/><br/>
		YouL Indeed, she is...
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="hank.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Hank", "/page181"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="robert.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Robert", "/pag182"  %></button>
		</div>
	</div>
</div>