<div class="container">
	<div class="row">
			<img src="scott_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		Charles was like a role model to me. He was someone that I wanted to be and everything he has ever accomplished I wanted to do too. He was the man that I idolized so much.
		<br/><br/>
		You are intrigued by how Scott idolizes Charles and sees how is such a great man in his view  but you wanted to know how Scott would do now that Charles is dead or what he thinks his father would think of him.. 
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="talk.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "So what is he to you now that he's gone?", "/page017"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="talk.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "You really admire him. But what do you think you were you to him?", "/page018"  %></button>
		</div>		
	</div>
</div>