<p>After talking to Scott, you decided to go Jane, you see her sobbing and tears have covered her face.
<p/>
<button type="button" class="btn btn-link"><%= link_to "What was Charles to you?", "/page044"  %></button>
<button type="button" class="btn btn-link"><%= link_to "You seem to be the most affected by your father's death.", "/page044"  %></button>