<p>so he supports all of you in your choices? some more than other. care to explain? robert could never stick to one thing and yet father always supported him no matter how unlikely he would push through.
<p/>
<button type="button" class="btn btn-link"><%= link_to "Talk to Robert", "/page034"  %></button>