<div class="container">
	<div class="row">
			<img src="jane_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: It's fine, you're probably exhausted from the turn of events. Maybe you should lie down.
		<br/><br/>
		Jane: Perhaps I am tired. I'm sorry I couldn't be of much help. Maybe you should go talk to Scott instead. He might know something.
		<br/><br/>
		You leave Jane to rest and you go talk to Scott.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="scott.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Scott", "/page059"  %></button>
		</div>		
	</div>
</div>