<p>father? i dont count him as my father. i never wanted to be a part of his family. ask why. mentions his successful brother and the beloved sister
<p/>
<button type="button" class="btn btn-link"><%= link_to "Talk about Warren's success", "/page083"  %></button>
<button type="button" class="btn btn-link"><%= link_to "Talk about how Jane is the favorite", "/page084"  %></button>