<div class="container">
	<div class="row">
			<img src="warren_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		<br/><br/>
		You: So he supports all of you in your choices?
		<br/><br/>
		Warren: Some of us more than others.
		<br/><br/>
		You: What do you mean by that?
		<br/><br/>
		Warren: Scott was always aiming for something big that would catch father's eye and he idolized father so much, yet father doesn't see he was being idolized.	
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="scott.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Scott", "/page144"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="robert.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Robert", "/page157"  %></button>
		</div>
	</div>
</div>