<p>You decieded to talk to Warren, a well dressed yet seemingly melodramatic person, about his thoughts on the muder of Charles. As you go closer he seems to notice you but is quiet and is staring at the ceiling
<p/>
<button type="button" class="btn btn-link"><%= link_to "So what was your father to you?", "/page062"  %></button>
<button type="button" class="btn btn-link"><%= link_to "You don't seem fazed about your father's death.", "/page063"  %></button>