<p>Charles was like a role model to me. He was something that I wanted to be and everything he has ever accomplished I wanted to do too. He was the man that I idolized so much. 
<p/>
<button type="button" class="btn btn-link"><%= link_to "So what is he to you now that he's gone?", "/page017"  %></button>
<button type="button" class="btn btn-link"><%= link_to "You really admire him. But what were you to him?", "/page018"  %></button>