<div class="container">
	<div class="row">
			<img src="scott_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: Scott, you're the killer.
		<br/><br/>
		Everyone is shocked to hear your statement.
		<br/><br/>
		Scott: Why me? I respected my Father, I wanted to be him.
		<br/><br/>
		You: Yes that is true, but you developed an obsession enough to surpass him in order to be him.
		<br/><br/>
		Scott: How can I be obsessed, I idolize my father.
		<br/><br/>
		You: Because you idolized him that you clearly become obsessed, it was never about the money, nor the job position it was all about overcoming your father.
		<br/><br/>
		Scott: And so? My Father was the best and I wanted to be like him too, but I thought that just being like him would satisfy me. No! I wanted to have something more. I wanted to surpass father by removing him as competition.
		<br/><br/>
		Scotts laughs hysterically.
		<br/><br/>
		Scott: By killing him I have made the ultimate dedication to him!!!
		<br/><br/>
		You deduced that Scott is the killer. As he hysterically laughs you pin him down and arrest him. As you bring Scott to the car, he looks disgustingly at his four siblings. The car leaves and the mystery of the death of your friend is solved but you wonder about the other 4 since they have troubled pasts and personalities too. 
		<br/><br/>
	</div>
	
</div>