<div class="container">
	<div class="row">
			<img src="hank_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: Hank, you're the killer.
		<br/><br/>
		Hank:Illogical, what makes you state that detective?
		<br/><br/>
		You: You always mentioned that your father funded your research, yet you never told me nor anyone in your family about your research, will you ever tell us about it?
		<br/><br/>
		Hank: Fine, it was human and animal organ transplant, father was hesitant about this project.
		<br/><br/>
		You: And he threatened you to stop or he will cut the funding, but I guess he did the right choice.
		<br/><br/>
		Hank: It annoyed me that he didn't see what I saw, there was so much potential, if he didn't believe in me, I should have taken the money and funded myself.
		<br/><br/>
		You deduced that hank is the killer, as he hysterically laughs you pin him down and arrest him. As you bring hank to the car, he looks disgustingly at his four siblings. The car leaves and the mystery of the death of your friend is solved but you wonder about the other 4 since they have troubled pasts and personalities too. 
		<br/><br/>
	</div>

</div>