<div class="container">
	<div class="row">
			<img src="warren_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You decieded to talk to Warren, a well dressed yet seemingly melodramatic person, about his thoughts on the murder of Charles. As you go closer he seems to notice you but is quiet and is staring at the ceiling
		<br/><br/>
		You: Warren was it? I need to know if you...
		<br/><br/>
		As you were about to ask warren a question, he suddenly said a silent line as if he was acting in a movie.
		<br/><br/>
		Warren: Oh Father, Who did this to you.
		<br/><br/>
		You: Okay, I just want to ask...
		<br/><br/>
		You then asked warren about something but in your mind you want to ask him about his relationship with his father but you also were curious about his calm expression.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="talk.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Warren, what was your relationship with your father like?", "/page010"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="talk.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "You don't seem fazed about your father's death.", "/page011"  %></button>
		</div>
	</div>
</div>