<div class="container">
	<div class="row">
			<img src="warren_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: Warren, you're the killer.
		<br/><br/>
		Warren: Etu!!! You would blame me too? Why's thou accuseth me of commiting muder to someone I love
		<br/><br/>
		You: Because you didn't love him, you wanted the inheritance money more than the others that you killed him and tried to steal it. 
		<br/><br/>
		Warren: And what makes you think that me, the successful artist wants money from my father if I already made so much from my art?
		<br/><br/>
		You: I've noticed your clothes are kinda tattered, and its not ruined accidentally because you would probably over-react. But what proves my point more is that you're are at the bottom line. How do I know? Othe than the fact you praise your art but never show it, I asked a fellow art enthusiast about Warren the artist, he said that his career reached a tragic end and is living poorly, so far. You needed the moeny to get back on top.
		<br/><br/>
		Warren: *Crazy* Yes I wanted the money more because I needed help the most. From Riches to rags, I wanted to be rich again, but none of my siblings wanted to help, so did Father. So kill and steal is how I live and I'll do it as beautifully as possible *laughs*
		<br/><br/>
		You deduced that Warren is the killer, as he hysterically laughs you pin him down and arrest him. As you bring warren to the car, he looks disgustingly at his four siblings. The car leaves and the mystery of the death of your friend is solved but you wonder about the other 4 since they have troubled pasts and personalities too. 
		<br/><br/>
	</div>
	
</div>