<div class="container">
	<div class="row">
			<img src="warren_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: What can you tell me about Jane?
		<br/><br/>
		Warren: Jane has been a strange one, I heard once, that she and father were screaming at each other then Jane left the room all quiet. Strange and very suspicious. It's not like her to yell at people, especially father.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page190"  %></button>
		</div>
	</div>
</div>