<div class="container">
	<div class="row">
			<img src="hank_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: So, can you tell me a bit about Jane?
		<br/><br/>
		Hank: Jane is a bit of a curious one, she is seems to be soft and tame as a puppy but she seems to have sudden change of behavior, she must have been overdosing those medicines that her doctor prescribed. Who knows...
		<br/><br/>
	</div>

	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page190"  %></button>
		</div>
	</div>
</div>