<div class="container">
	<div class="row">
			<img src="scott_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		Scott: you think my father never loved me? well, i never wanted his love just his position in the company. if anyone had his love, it would be Robert.
		<br/><br/>
		Scott becomes aggressive  and defensive, so you back off and decide to go ask Robert.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="robert.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Robert", "/page135"  %></button>
		</div>
	</div>
</div>