<p>father? i dont count him as my father. i never wanted to be a part of his family. ask why. mentions his successful brothers
<p/>
<button type="button" class="btn btn-link"><%= link_to "Talk about Warren's success", "/page055"  %></button>
<button type="button" class="btn btn-link"><%= link_to "Talk about how Jane is the favorite", "/page056"  %></button>