<p>father has always supported my art career and through him, i have become quite known in several places
<p/>
<button type="button" class="btn btn-link"><%= link_to "So he supports you all?", "/page077"  %></button>