<div class="container">
	<div class="row">
			<img src="robert_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: Robert, I was wondering if you noticed anything suspicious with your siblings?
		<br/><br/>
		Robert: Hank was usually busy in the lab, but in the past few weeks, I hardly see him in the lab and it's strange because he would always put his research before anything else. "
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="jane.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Jane", "/page163"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="warren.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Warren", "/page164"  %></button>
		</div>
	</div>
</div><p>"
</p>

