<p>talk about charles being nice to him. nice? he was never nice to me. if ever, he was only nice to jane.
<p/>
<button type="button" class="btn btn-link"><%= link_to "Talk to Jane", "/page071"  %></button>