<div class="container">
	<div class="row">
			<img src="hank_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: So your true concern is the money.
		<br/><br/>
		Hank: The money? Don't talk to me about financial concerns. I'm not worried about that. If you wanna know who's worried about money, you should talk to Scott. He knows more than anyone about financing.
		<br/><br/>
		Hank smirks and points to Scott after you mentioned about wanting the money, you decided to approach Scott.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="scott.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Scott", "/page060"  %></button>
		</div>
	</div>
</div>