<p>You decide to talk to Scott about what just happened. As you approach him, you noticed in his face that he was shocked and he was mourning out but for a moment, then his face transitioned into a serious expression.	
<p/>
<button type="button" class="btn btn-link"><%= link_to "So what was Charles to you?", "/page075"  %></button>
<button type="button" class="btn btn-link"><%= link_to "What makes you thin you're a suspect?", "/page076"  %></button>