<div class="container">
	<div class="row">
			<img src="robert_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: Robert, I was wondering if you noticed anything suspicious about Hank?
		<br/><br/>
		Robert:Hank has been getting more into his research and he's been getting more excited about accomplishing it, though he looks serious when we talk about father.
		<br/><br/>
	</div>

	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page191"  %></button>
		</div>
	</div>
</div>