<div class="container">
	<div class="row">
			<img src="scott_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		Scott: I have and always will admire him, but now I can never surpass him. he was never happy with what I did for him. not like Jane.
		<br/><br/>
		You get the feeling that Scott isn't just idolizing but rather something more than that, you consider Scott's behavior but you decided to talk to Jane.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="jane.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Jane", "/page161"  %></button>
		</div>
	</div>
</div>