<div class="container">
	<div class="row">
			<img src="scott_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		"You: Scott, I was wondering if you noticed anything suspicious with your siblings?
		<br/><br/>
		Scott: Jane, as innocent as she is, seems to been jittery as often. And at times, when I get annoyed she just suddenly talks back to me...that little bi..."
		<br/><br/>
	</div>

	<div class="row">
		<div class="well">
			<img src="robert.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Robert", "/page157"  %></button>			
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="hank.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Hank", "/page158"  %></button>			
		</div>
	</div>
</div>