<p>You decided to approach Robert, the youngest of the family. As you got closer to him, you noticed a slight grin in his face and a faint snicker. 
<p/>
<button type="button" class="btn btn-link"><%= link_to "So what was your father to you?", "/page008"  %></button>
<button type="button" class="btn btn-link"><%= link_to "What makes you think you're a suspect?", "/page009"  %></button>