<div class="container">
	<div class="row">
			<img src="hank_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: So, can you tell me a bit about Robert?
		<br/><br/>
		Hank: Robert is an annoyance, and he has been annoying since he was born. But lately he seemed like he was silent and orderly which is outside his normal behavior.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page192"  %></button>
		</div>
	</div>
</div>