<div class="container">
	<div class="row">
			<img src="jane_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You decided to approach Jane. She was down on her knees and you see her sobbing and tears have covered her face.
		<br/><br/>
		You: I'm sorry for your loss. I tell you, I will find out who did this to Charles.
		<br/><br/>
		Jane: Thank you sir.
		<br/><br/>
		Jane started to calm dawn and she wiped the tears out of her face.
		<br/><br/>
		You: I would like to know...
		<br/><br/>
		You begin to question Jane but in your mind you want to ask about Jane's relationship with her father or you want to ask how Jane is likely to be a suspect.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="talk.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "So how were you and your father?", "/page012"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="talk.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "You seem to be taking this hard compared to your siblings.", "/page012"  %></button>
		</div>		
	</div>
</div>