<p>actually, quite the contrary. i worked with him in a project when i was younger. he taught me a lot and supported me as i grew. now that he has gotten older, he supported me through his funding.	
<p/>
<button type="button" class="btn btn-link"><%= link_to "So your real concern is the money?", "/page045"  %></button>