<div class="container">
	<div class="row">
			<img src="jane_03.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: May I ask if you noticed something from your brothers?
		<br/><br/>
		Jane: Robert, usually he comes home drunk due to his hang out with friends. But this time, he was drunk at home alone which is unusual because he prefers to drink with his friends.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="scott.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Scott", "/page130"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="warren.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Warren", "/page131"  %></button>
		</div>		
	</div>
</div>