<div class="container">
	<div class="row">
			<img src="jane_01.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		Jane: My siblings? Ha! they never truly cared about him as much as I do! If you ask me, Warren is more concerned about the money than his death!
		<br/><br/>
		She is irritated about her siblings but she's more irritated about Warren, so you decided to talk to Warren.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="warren.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Warren", "/page040"  %></button>
		</div>
</div>