<div class="container">
	<div class="row">
			<img src="robert_02.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You: Robert, I was wondering if you noticed anything suspicious about Jane?
		<br/><br/>
		Robert: Jane, as innocent as she is, seems to been jittery as often. And at times, when I get annoyed she suddenly talked back to me...that little bi...	
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="deduce.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Reveal the killer", "/page190"  %></button>
		</div>
	</div>
</div>