<div class="container">
	<div class="row">
			<img src="jane_03.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		"You: have you noticed anything from you siblings?
		<br/><br/>
		Jane: Warren has been more stingy towards me lately, actually to my other brothers as well. He would brag about his art and how he will be even more of a success.
		<br/><br/>
		You: Hmm.. 
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="scott.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Scott", "/page179"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="hank.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Hank", "/page180"  %></button>
		</div>
	</div>
</div>